<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" media="screen" />
<title>DeleteEvent</title>
</head>
<body>
	<div class="wrapper">
		<header>
			<div th:replace="fragments/header :: header"></div>
		</header>

		<div class="content">
			<h2>Events:</h2>

			<table align="center">
				<tr>
					<th>Id</th>
					<th>Title</th>
					<th>Content</th>
					<th>Term</th>
					<th>timeStart</th>
					<th>timeEnd</th>
					<th>Adres</th>
					<th>Price (zł)</th>
					<th th:if="${isAdmin}">Delete</th>
					<th th:if="${isUser}">Sign in </th>

				</tr>
				<tr th:each="event : ${event}">
					<td th:text="${event.id}">Id</td>
					<td th:text="${event.title}">Title</td>
					<td th:text="${event.content}">Content</td>
					<td th:text="${event.term}">Term</td>
					<td th:text="${event.tstart}">TimeStart</td>
					<td th:text="${event.tend}">TimeEnd</td>
					<td th:text="${event.adres}">Adres</td>
					<td th:text="${event.price}">Price</td>
					
					<td th:if="${isAdmin}"><a
						th:href="${'/admin/deleteE/' + event.id}">Delete</a></td>
					
				</tr>
			</table>
		</div>

		<footer>
			<p class="footer">Create by @Marek Tomasik</p>
		</footer>
	</div>
</body>
</html>