<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Event</title>
</head>
<body>
	<header>
		<h1 class ="logo">Registration for the event</h1>
			<nav>
				<ul class="menu">
					<li><a href ="/">Home</a></li>
					<li><a href ="/aboutMe">About Me</a></li>
					<li><a href ="/login">Login</a></li>
					<li th:if="${isAdmin}"><a href="/admin/addE" th:href="@{/admin/addE}"> AddEvent </a></li>
					<li th:if="${isAdmin}"><a href="/admin/deleteE" th:href="@{/admin/deleteE}"> DeleteEvent </a></li>
					<li th:if="${isAdmin}"><a href="/adminU/deleteU" th:href="@{/adminU/deleteU}"> DeleteUser </a></li>
					<li> <!-- th:if="${isUser}"> --><a href="/user/userProfile" th:href="@{/user/userProfile}"> UserProfile </a></li>
					
				
					
				</ul>
			</nav>
	</header>

</body>
</html>