<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Event</title>
</head>
<body>
	<header>
		<h1 class ="logo">Registration for the event</h1>
			<nav>
				<ul class="menu">
					<li><a href ="/">Home</a></li>
					<li><a href ="/aboutMe">About Me</a></li>
					<li><a href ="/login">Login</a></li>
					<li th:if="${isAdmin}"><a href="/admin/addE" th:href="@{/admin/addE}"> AddEvent </a></li>
					<li th:if="${isAdmin}"><a href="/admin/deleteE" th:href="@{/admin/deleteE}"> DeleteEvent </a></li>
					<li th:if="${isAdmin}"><a href="/admin/deleteU" th:href="@{/admin/deleteU}"> DeleteUser </a></li>
				
					
				</ul>
			</nav>
	</header>

</body>
</html>